/build
/node_modules/
/public/build/
.DS_Store
*.kate-swp
.DS_Store
.build
.snowpack
.vercel
lerna-debug.log
node_modules
create-snowpack-app/*/build
test/build/**/build
test/build/**/web_modules
test/create-snowpack-app/test-install
test/esinstall/**/web_modules
yarn-error.log
.idea/workspace.xml

